/* Adjusting the dropdown panel */
::ng-deep .ng-dropdown-panel {
  background-color: #fffdfd;
  // padding-left: 10px;
  position: absolute;
  top: calc(100% + 5px); /* Ensure proper positioning relative to the input field */
  left: 0;
  right: 0;
  font-size: 15px;
  text-align: left;
  border: 1px solid #969696;
}

::ng-deep .ng-dropdown-panel .ng-option.ng-option-marked {
  background-color: rgb(30, 89, 201) !important;
  color: #f7f5f5 !important;
}

::ng-deep .ng-dropdown-panel .ng-option.ng-option-selected {
  background-color: rgb(30, 89, 201) !important;
  color: #f7f5f5 !important;
}

/* Styling the option labels */
::ng-deep .ng-dropdown-panel .ng-option .ng-option-label {
  padding: 22px;
}

/* Adjusting the font size of selected values */
::ng-deep .ng-value-container .ng-value {
  font-size: 16px;
}

/* Adjusting the height and alignment of the ng-select component */
::ng-deep .ng-select {
  height: 38px;
  display: flex;
  align-items: center;
}

::ng-deep .ng-select-container {
  text-align: left;
}

.table-responsive {
  // display: block;
   width: 100%;
   //overflow-x: scroll;
   scroll-behavior: smooth;
   margin-bottom: 12px;
  // scrollbar-width: thin;
   scrollbar-color: rgb(129, 128, 128) rgb(231, 230, 230);
   // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_scrollbars_styling - Link
 }
