<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->

<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">Accounts</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="routes.dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Expense</li>
      </ul>
    </div>
    <!-- <div class="col-auto">
      <a href="javascript:void(0);" class="btn btn-primary me-1">   <i class="fas fa-file-pdf"></i> </a>
      <a  class="btn btn-primary filter-btn"  href="javascript:void(0);"  id="filter_search"> <i class="fas fa-filter"></i></a>
    </div> -->
  </div>
</div>

<div *ngIf="!show_page" class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="content-page-header">

          <h6>Expense List</h6>
        <div class="list-btn ">
          <ul class="filter-list">
            <li >
              <a class="btn-filters" href="javascript:void(0);"  (click)="exportExcel()"><i class="fas fa-file-excel me-1"></i></a>
            </li>

            <li *ngIf="can_edit === 'true' || can_edit === '1'">
              <a href="javascript:void(0);" class="btn btn-rounded btn-outline-primary right"  (click)="PageAction()"><i class="fa fa-plus-circle me-2"></i> Expense</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card-body">
        <div class="table_header">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length">
                <label>
                  Show
                  <select  #size
                    (change)="PageSize(size.value)"
                    class="form-control form-control-sm"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  Entries
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_filter">
                <label>
                  Search:
                  <input [(ngModel)]="searchDataValue"  (ngModelChange)="searchData(searchDataValue)"  class="form-control form-control-sm"  (click)="moveToPage(1)" />
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table matSort (matSortChange)="sortData($event)"
          class="table table-center table-hover datatable">
            <thead class="thead-light">
              <tr>
                <th mat-sort-header="id">#</th>
                <th mat-sort-header="transaction_date">Transaction Date</th>
                <th mat-sort-header="action">Transaction Against</th>
                <th mat-sort-header="transaction_mode">Mode</th>
                <th mat-sort-header="amount">Amount</th>
                <th mat-sort-header="exp_type">Service</th>
                <th mat-sort-header="tax_amount">Tax</th>
                <th mat-sort-header="expence_account">Expence Type</th>
                <th mat-sort-header="paid_account">Paid Account</th>
                <th mat-sort-header="name_of_expense">Expense</th>
                <th mat-sort-header="notes">Command</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let expense of expense_list; let i = index" (click)="onActivate(expense)" >
                <td>{{expense.id}}</td>
                <td>{{expense.transaction_date}}</td>
                <td> <span *ngIf="expense.bill !== null"> Bill : {{expense.bill}}</span>
                  <span *ngIf="expense.invoice !== null"> Invoice : {{expense.invoice}}</span>
                  <span *ngIf="expense.project !== null"> Project : {{expense.project}}</span>
                  <span *ngIf="expense.project === null && expense.bill === null && expense.invoice === null"> {{expense.referense}}</span></td>
                <td ><span class="badge badge-pill bg-success-light">{{expense.transaction_mode}}</span></td>
                <td>{{expense.amount | indianCurrency : [] }}</td>
                <td>
                  <span class="badge badge-pill bg-success-light" *ngIf="expense.exp_type === 1">Goods</span>
                  <span class="badge badge-pill bg-success-light" *ngIf="expense.exp_type === 2">Service</span>
                </td>
                <td>{{expense.tax_amount | indianCurrency : [] }}</td>
                <td>{{expense.expence_account}}</td>
                <td>{{expense.paid_account}}</td>
                <td>{{expense.name_of_expense}}</td>
                <td>{{expense.notes}}</td>
              </tr>
            </tbody>
          </table>

          <!-- table footer -->
            <div class="table_footer">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info">
                  Showing {{ serialNumberArray[0] }} to
                  {{ serialNumberArray[serialNumberArray.length - 1] }} of
                  {{ totalData }} entries
                </div>
              </div>
            <div class="col-sm-12 col-md-3">
                <div class="pagination_section">
                  <ul class="pagination">
                    <li   class="page-item"  [ngClass]="{ disabled: currentPage === 1}"  >
                      <a (click)="getMoreData('previous')"  class="page-link" href="javascript:void(0);" tabindex="-1">Previous</a>
                    </li>

                    <ng-container *ngFor="let item of pageNumberArray; let i = index">
                      <li class="page-item" [class.active]="item === currentPage" [ngClass]="  (pageNumberArray[currentPage - 2] > item &&  item !== 1 && pageNumberArray.length > 6) ||
                          (pageNumberArray[currentPage] < item && item !== 1 && pageNumberArray.length > 6 && pageNumberArray.length !== item)  ? 'hide-sub-menu' : 'show-sub-menu'" >
                        <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                          {{ item }}
                          <span *ngIf="item === currentPage" class="sr-only" >(current)</span>
                        </a>
                      </li>
                      <li class="page-item" *ngIf=" i === 0 && pageNumberArray.length > 6 && currentPage > 2 " [hidden]="currentPage === 1">
                        <a class="page-link"  (click)="moveToPage(currentPage - 2)" href="javascript:void(0);"> ... </a>
                      </li>
                      <li  *ngIf="    i === pageNumberArray.length - 2 &&  pageNumberArray.length > 6 " [hidden]=" currentPage >= pageNumberArray[pageNumberArray.length - 2] || totalData < serialNumberArray[serialNumberArray.length - 1] "
                        class="page-item" >
                        <a class="page-link"  (click)="moveToPage(currentPage + 2)" href="javascript:void(0);"> ... </a>
                      </li>
                    </ng-container>

                    <li class="page-item"   [ngClass]="{ disabled: currentPage === pageNumberArray[pageNumberArray.length - 1] ||   expense_list.length === 0   }" >
                      <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);" >Next
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="show_page" class="row">
  <div>
    <button type="submit" class="btn btn-info  mb-3" (click)="setzero()"><i class="fa fa-arrow-left"></i>
      Back
    </button>
  </div>
  <div class="col-12 bottom-30">
    <div widget class="card">
        <div class="card-header">
            <span><h5>ADD EXPENSE</h5></span>
            <!-- <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div> -->
        </div>
        <div class="card-body widget-body">
          <form [formGroup]="addExpen" (ngSubmit)="AddNewExpen(addExpen.value)">
            <div class="row">
              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label style="color:red">Date *</label>
                  </div>
                  <div class="col-8">
                    <input type="date" formControlName="exp_date" class="form-control">
                    <span class="help-block text-danger" *ngIf="addExpen.get('exp_date')?.touched && addExpen.get('exp_date')?.hasError('required')">Date Required !</span>
                  </div>
                </div>
              </div>

              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label style="color:red">Expense Type *</label>
                  </div>
                  <div class="col-2 bottom-15">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input value="1" id="goods" type="radio" formControlName="exp_type" class="custom-control-input radio-success" checked>
                        <label class="custom-control-label" for="goods">Goods</label>
                    </div>
                    </div>
                    <div class="col-6 bottom-15">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input value="2" id="services" type="radio" formControlName="exp_type" class="custom-control-input radio-warning">
                        <label class="custom-control-label" for="services">Services</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label style="color:red">Expense Account *</label>
                  </div>
                  <div class="col-8">
                    <!-- <select formControlName="exp_account" class="form-control custom-select">
                        <option *ngFor= "let view of exp_acc_info" value="{{view.id}}" >{{view.account_name}}</option>
                    </select> -->

                    <ng-select formControlName="exp_account" [items]="exp_acc_info" bindLabel="account_name" bindValue="id"   groupBy="account_type"
                        class=" form-control custom-select" [clearable]="false" >
                       <ng-template ng-optgroup-tmp let-item="item" class="form-control">
                           <span *ngIf="item.account_type === 1" style="padding: 20px;"><b>Fixed Asset</b></span>
                           <span *ngIf="item.account_type === 2" style="padding: 20px;"><b>Other Current Asset</b></span>
                           <span *ngIf="item.account_type === 3" style="padding: 20px;"><b>Other Liability</b></span>
                           <span *ngIf="item.account_type === 4" style="padding: 20px;"><b>Other Current Liability</b></span>
                           <span *ngIf="item.account_type === 5" style="padding: 20px;"><b>Expense</b></span>
                           <span *ngIf="item.account_type === 6" style="padding: 20px;"><b>Cost Of Goods Sold</b></span>
                           <span *ngIf="item.account_type === 7" style="padding: 20px;"><b>Other Expense</b></span>
                       </ng-template>
                   </ng-select>
                    <span class="help-block text-danger" *ngIf="addExpen.get('exp_account')?.touched && addExpen.get('exp_account')?.hasError('required')">Expense Account Required !</span>
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label for="input-12">HSN/SAC</label>
                  </div>
                  <div class="col-8">
                    <input type="text" formControlName="gst_code" class="form-control" placeholder="If Available">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label style="color:red">Paid Through *</label>
                  </div>
                  <div *ngIf="this.balance_disp === 0" class="col-8">
                    <span *ngIf="this.user_type === 'super_admin'">
                      <!-- <select formControlName="paid_through" class="form-control custom-select" (ngModelChange)="balanceLoad()">
                        <optgroup label="Bank">
                          <option value=0>Select Bank</option>
                          <option *ngFor= "let view of company_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                        </optgroup>
                        <optgroup label="Cash">
                          <option *ngFor= "let view of cash_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                        </optgroup>
                        <optgroup label="Internal User">
                          <option *ngFor= "let view of user_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                        </optgroup>
                      </select> -->

                      <ng-select formControlName="paid_through" [items]="bankData" bindLabel="account_name" bindValue="bank_id"   groupBy="mode"
                       class=" form-control custom-select" [clearable]="false" (ngModelChange)="balanceLoad()">
                          <ng-template ng-optgroup-tmp let-item="item" class="form-control">
                              <span *ngIf="item.mode === 1" style="padding: 20px;"><b>Bank</b></span>
                              <span *ngIf="item.mode === 2" style="padding: 20px;"><b>Cash</b></span>
                              <span *ngIf="item.mode === 3" style="padding: 20px;"><b>Internal User</b></span>
                              <span *ngIf="item.mode === 4" style="padding: 20px;"><b>GST</b></span>
                          </ng-template>
                      </ng-select>


                      <span class="help-block text-danger" *ngIf="addExpen.get('paid_through')?.touched && addExpen.get('paid_through')?.hasError('required')">Expense Account Required !</span>
                    </span>
                    <span *ngIf="this.user_type !== 'super_admin'">
                      <select formControlName="paid_through" class="form-control custom-select" (ngModelChange)="balanceLoad()">
                          <option *ngFor= "let view of user_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                      </select>
                      <span class="help-block text-danger" *ngIf="addExpen.get('paid_through')?.touched && addExpen.get('paid_through')?.hasError('required')">Expense Account Required !</span>
                    </span>
                  </div>
                  <div *ngIf="this.balance_disp === 1" class="col-4">
                    <span *ngIf="this.user_type ==='super_admin'">
                      <!-- <select formControlName="paid_through" class="form-control custom-select" (ngModelChange)="balanceLoad()">
                        <optgroup label="Bank">
                          <option *ngFor= "let view of company_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                        </optgroup>
                        <optgroup label="Cash">
                          <option *ngFor= "let view of cash_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                        </optgroup>
                        <optgroup label="Internal User">
                          <option *ngFor= "let view of user_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                        </optgroup>
                      </select> -->

                      <ng-select formControlName="paid_through" [items]="bankData" bindLabel="account_name" bindValue="bank_id"   groupBy="mode"
                      class=" form-control custom-select" [clearable]="false" (ngModelChange)="balanceLoad()">
                       <ng-template ng-optgroup-tmp let-item="item" class="form-control">
                           <span *ngIf="item.mode === 1" style="padding: 20px;"><b>Bank</b></span>
                           <span *ngIf="item.mode === 2" style="padding: 20px;"><b>Cash</b></span>
                           <span *ngIf="item.mode === 3" style="padding: 20px;"><b>Internal User</b></span>
                           <span *ngIf="item.mode === 4" style="padding: 20px;"><b>GST</b></span>
                       </ng-template>
                   </ng-select>

                      <span class="help-block text-danger" *ngIf="addExpen.get('paid_through')?.touched && addExpen.get('paid_through')?.hasError('required')">Expense Account Required !</span>
                    </span>
                    <span *ngIf="this.user_type !== 'super_admin'">
                      <select formControlName="paid_through" class="form-control custom-select" (ngModelChange)="balanceLoad()">
                          <option *ngFor= "let view of user_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                      </select>
                      <span class="help-block text-danger" *ngIf="addExpen.get('paid_through')?.touched && addExpen.get('paid_through')?.hasError('required')">Expense Account Required !</span>
                    </span>
                  </div>
                  <div *ngIf="this.balance_disp === 1" class="col-4">
                    <span>
                      <strong>
                        <h6>Balance: {{ onloadBalance | indianCurrency: []}}</h6>
                      </strong>
                    </span>

                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label style="color:red">Payment Transfer Mode *</label>
                  </div>
                  <div class="col-8">
                    <select formControlName="exp_mode" class="form-control custom-select">
                        <option value="0">Select Mode</option>
                        <option value="1">Wire</option>
                        <option value="2">Cash</option>
                        <option value="3">Check</option>
                    </select>
                    <span class="help-block text-danger" *ngIf="addExpen.get('exp_mode')?.touched && addExpen.get('exp_mode')?.hasError('required')">Payment Transfer Mode Required !</span>
                    <span class="help-block text-danger" *ngIf="addExpen.get('exp_mode')?.touched && addExpen.get('exp_mode')?.hasError('minlength')">Select one mode of transfer !</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label style="color:red">Amount without Tax *</label>
                  </div>
                  <div class="col-8">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">₹</span>
                      </div>
                      <input type="number" formControlName="amount" class="form-control" placeholder="Amount without Tax" (ngModelChange)="tax_calculate()">
                      <span class="help-block text-danger" *ngIf="addExpen.get('amount')?.touched && addExpen.get('amount')?.hasError('required')">Amount Required !</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label style="color:red">Tax *</label>
                  </div>
                  <div class="col-8">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">₹</span>
                      </div>
                      <input type="number" class="form-control" formControlName="tax_rate" placeholder="Tax Amount">
                      <select formControlName="tax_percent" class="form-control custom-select" (ngModelChange)="tax_calculate()">
                        <!-- <option value="0">0% Tax</option> -->
                        <option *ngFor= "let view of gst_percent" value="{{view.rate}}" >{{view.name}} - {{view.rate}}</option>
                      </select>
                      <span class="help-block text-danger" *ngIf="addExpen.get('tax_rate')?.touched && addExpen.get('tax_rate')?.hasError('required')">Tax Rate Required !</span>
                      <span class="help-block text-danger" *ngIf="addExpen.get('tax_percent')?.touched && addExpen.get('tax_percent')?.hasError('required')">Tax Percent Required !</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label for="input-1">Invoice / Bill Number  </label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" formControlName="inv_number" placeholder="For Reference">

                    <span class="help-block text-danger" *ngIf="addExpen.get('inv_number')?.touched && addExpen.get('inv_number')?.hasError('required')"> Required !</span>
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label style="color:red">Name of the Expense *</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" formControlName="exp_name" placeholder="Expense Name">
                    <span class="help-block text-danger" *ngIf="addExpen.get('exp_name')?.touched && addExpen.get('exp_name')?.hasError('required')">Expense Name Required !</span>
                    <span class="help-block text-danger" *ngIf="addExpen.get('exp_name')?.touched && addExpen.get('exp_name')?.hasError('minlength')">Minimum Length 3</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label for="exampleSelect3">Invoice</label>
                  </div>
                  <div class="col-8">
                    <!-- <select #vendor formControlName="vendor" class="form-control custom-select" (change)="onSelect_inv(vendor.value)">
                        <option value="0">No Invoice Selected</option>
                        <option *ngFor= "let view of invoice_list" value="{{view.invoice_id}}" >{{view.invoice_number}}</option>
                    </select> -->

                    <ng-select formControlName="vendor"  class=" form-control custom-select" [clearable]="false" (change)="onSelect_inv($event)">
                      <ng-option  *ngFor= "let view of invoice_list" value="{{view.invoice_id}}" class="form-control">
                        {{view.invoice_number}}
                      </ng-option>
                    </ng-select>

                  </div>
                </div>
              </div>
              <div class="form-group col-6">

              </div>
              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label for="exampleSelect3">Bill</label>
                  </div>
                  <div class="col-8">
                    <!-- <select #customer formControlName="customer" class="form-control custom-select" (change)="onSelect_bill(customer.value)">
                        <option value="0">No Bill Selected</option>
                        <option *ngFor= "let view of bill_list" value="{{view.bill_id}}" >{{view.bill_number}}</option>
                    </select> -->

                    <ng-select formControlName="customer"  class=" form-control custom-select" [clearable]="false" (change)="onSelect_bill($event)">
                      <ng-option  *ngFor= "let view of bill_list" value="{{view.bill_id}}" class="form-control">
                        {{view.bill_number}}
                      </ng-option>
                    </ng-select>

                  </div>
                </div>
              </div>
              <div class="form-group col-6">

              </div>
              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label for="exampleSelect3">Project Name</label>
                  </div>
                  <div class="col-8">
                    <!-- <select formControlName="project" class="form-control custom-select">
                        <option value="0">No Project Selected</option>
                        <option *ngFor= "let view of project_list" value="{{view.project_id}}" >{{view.name}}</option>
                    </select> -->

                    <ng-select formControlName="project"  class=" form-control custom-select" [clearable]="false" (change)="onSelect_pro($event)">
                      <ng-option  *ngFor= "let view of project_list" value="{{view.project_id}}" class="form-control">
                        {{view.name}}
                      </ng-option>
                    </ng-select>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <div class="input-group">
                  <div class="col-4">
                    <label for="input-1">Notes</label>
                  </div>
                  <div class="col-8">
                    <input type="text" formControlName="reference" class="form-control" placeholder="Only For Reference">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="form-group">
                  <button [disabled]="loading" class="btn btn-info btn-block" type="submit">Submit <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                </div>
          </div>
        </div>
        </form>
        </div>
    </div>
  </div>
</div>
