.ngx-datatable.custom_table {
  background: rgb(255, 255, 255);
  box-shadow: 0 5px 5px -1px rgba(0, 68, 95, 0.2), 0 8px 10px 1px rgba(0, 68, 95, 0.14), 0 3px 14px 2px rgba(0, 68, 95, 0.12);
  border-radius: 5px;
}

.ngx-datatable.custom_table.striped .datatable-row-odd {
  background: #eee;
}

.ngx-datatable.custom_table.single-selection .datatable-body-row.active,
.ngx-datatable.custom_table.multi-selection .datatable-body-row.active,
.ngx-datatable.custom_table.multi-click-selection .datatable-body-row.active {
  background-color: hsl(187, 14%, 88%);
  color: #fff;
}

.ngx-datatable.custom_table .datatable-body .datatable-body-row.active .datatable-body-cell {
  text-align: center;
  padding: 0rem 0.5rem;
  vertical-align: top;
  border-top: 0;
  color: #1f1f1ec4;
  line-height: auto;
  transition: width 0.3s ease;
  font-size: 14px;
  font-weight: 400;
}

.ngx-datatable.custom_table .datatable-body-row,
.ngx-datatable.custom_table .datatable-body-row:hover,
.ngx-datatable.custom_table .datatable-body-row:focus {
  text-align: center;
  background-color: rgb(255, 255, 255);
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  border-bottom: 1px solid #ddd;
}

.ngx-datatable.custom_table.cell-selection .datatable-body-cell.active {
  background-color: #d0d1da;
  color: #fff;
}

.ngx-datatable.custom_table.cell-selection .datatable-body-cell.active:hover {
  background-color: #797a88;
  color: #fff;
}

.ngx-datatable.custom_table.cell-selection .datatable-body-cell.active:focus {
  background-color: #2041ef;
  color: #fff;
}

.ngx-datatable.custom_table .empty-row {
  height: 50px;
  text-align: center;
  padding: 0.5rem 1.2rem;
  vertical-align: top;
  border-top: 0;
}

.ngx-datatable.custom_table .loading-row {
  text-align: left;
  padding: 0.5rem 1.2rem;
  vertical-align: top;
  border-top: 0;
}

.ngx-datatable.custom_table .datatable-header .datatable-header-cell {
  text-align: center;
  padding: 0.9rem 1.2rem;
  background-color: rgb(170, 177, 177);
  color: rgb(255, 255, 255);
  vertical-align: center;
  font-size: 14px;
  font-weight: bold;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

.ngx-datatable.custom_table .datatable-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 12px;
  font-weight: 400;
  background-color: rgb(170, 177, 177);
  color: rgba(19, 18, 18, 0.788);
}

.ngx-datatable.custom_table .datatable-footer .page-count {
  line-height: 50px;
  height: 50px;
  padding: 0 1.2rem;
}

.ngx-datatable.custom_table .datatable-footer .datatable-pager a {
  height: 22px;
  min-width: 24px;
  line-height: 22px;
  padding: 0 6px;
  border-radius: 3px;
  margin: 6px 3px;
  text-align: center;
  vertical-align: top;
  color: rgb(255, 255, 255);
  text-decoration: none;
  vertical-align: bottom;
}

.ngx-datatable.custom_table .datatable-footer .datatable-pager .datatable-icon-left,
.ngx-datatable.custom_table .datatable-footer .datatable-pager .datatable-icon-skip,
.ngx-datatable.custom_table .datatable-footer .datatable-pager .datatable-icon-right,
.ngx-datatable.custom_table .datatable-footer .datatable-pager .datatable-icon-prev {
  font-size: 20px;
  line-height: 20px;
  padding: 0 3px;
}

.ngx-datatable.custom_table .datatable-summary-row .datatable-body-row {
  background-color: #ddd;
}

.ngx-datatable.custom_table .datatable-summary-row .datatable-body-row:hover {
  background-color: rgb(133, 34, 34);
}

.ngx-datatable.custom_table .datatable-summary-row .datatable-body-row .datatable-body-cell {
  font-weight: bold;
}


.ngx-datatable.custom_table .datatable-body-row:hover {
  background-color: rgb(241, 240, 240); 
}
