<div  class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">Accounts</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="routes.dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Transaction</li>
      </ul>
    </div>
    <!-- <div class="col-auto">
      <a href="javascript:void(0);" class="btn btn-primary me-1">   <i class="fas fa-file-pdf"></i> </a>
      <a  class="btn btn-primary filter-btn"  href="javascript:void(0);"  id="filter_search"> <i class="fas fa-filter"></i></a>
    </div> -->
  </div>
</div>


<div class="row">
  <div class="col-xl-6 col-lg-6 col-12 bottom-30">
    <div widget class="card">
        <div class="card-header">
            <span><h5> NEW TRANSACTION</h5></span>
            <!-- <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div> -->
        </div>
        <div class="card-body widget-body">
          <form [formGroup]="addTrans" (ngSubmit)="AddNewTrans(addTrans.value)">
            <div class="form-group">
              <label for="exampleSelect3">Mode of Transfer</label>
              <select formControlName="tran_mode" class="form-control custom-select">
                  <option value = "0" selected>Select Mode</option>
                  <option value = "1">Wire</option>
                  <option value = "2">Cash</option>
                  <option value = "3">Check</option>
              </select>
              <span class="help-block text-danger" *ngIf="addTrans.get('tran_mode')?.touched && addTrans.get('tran_mode')?.hasError('required')">Must Select !</span>
              <span class="help-block text-danger" *ngIf="addTrans.get('tran_mode')?.touched && addTrans.get('tran_mode')?.hasError('min')">Select One Type</span>
            </div>
            <div class="form-group">
                <label for="exampleSelect3">Transfer From</label>

                <span *ngIf="this.user_type === 'super_admin'">
                  <!-- <select formControlName="from_bank" class="form-control custom-select">
                    <optgroup label="Bank">
                      <option *ngFor= "let view of company_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                    </optgroup>
                    <optgroup label="Cash">
                      <option *ngFor= "let view of cash_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                    </optgroup>
                    <optgroup label="Internal User">
                      <option *ngFor= "let view of user_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                    </optgroup>
                  </select> -->

                  <ng-select formControlName="from_bank"  [items]="bankData" bindLabel="account_name" bindValue="bank_id"  groupBy="mode" class=" form-control custom-select" [clearable]="false">
                    <ng-template ng-optgroup-tmp let-item="item" class="form-control">
                        <span *ngIf="item.mode === 1" style="padding: 20px;"><b>Bank</b></span>
                        <span *ngIf="item.mode === 2" style="padding: 20px;"><b>Cash</b></span>
                        <span *ngIf="item.mode === 3" style="padding: 20px;"><b>Internal User</b></span>
                        <span *ngIf="item.mode === 4" style="padding: 20px;"><b>GST</b></span>
                    </ng-template>
                </ng-select>
                </span>
                <span *ngIf="this.user_type !== 'super_admin'">
                  <!-- <select formControlName="from_bank" class="form-control custom-select">
                      <option *ngFor= "let view of user_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                  </select> -->

                  <ng-select formControlName="from_bank" class=" form-control custom-select" [clearable]="false" >
                    <ng-option  *ngFor= "let view of all_account" [value]="view.bank_id" class="form-control">
                      {{view.account_name}}
                    </ng-option>
                  </ng-select>
                </span>
            </div>

            <div class="form-group">
              <label for="exampleSelect3">Transfer To</label>
              <span *ngIf="user_type === 'super_admin'" class="select-container">

                 <!-- <select formControlName="to_bank" class="form-control custom-select">
                  <optgroup label="Bank">
                    <option *ngFor= "let view of company_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                  </optgroup>
                  <optgroup label="Cash">
                    <option *ngFor= "let view of cash_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                  </optgroup>
                  <optgroup label="Internal User">
                    <option *ngFor= "let view of all_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                  </optgroup>
                  <optgroup label="GST">
                    <option *ngFor= "let view of gst_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                  </optgroup>
               </select> -->

               <ng-select formControlName="to_bank"  [items]="bankData" bindLabel="account_name" bindValue="bank_id"  groupBy="mode" class=" form-control custom-select" [clearable]="false">
                <ng-template ng-optgroup-tmp let-item="item" class="form-control">
                    <span *ngIf="item.mode === 1" style="padding: 20px;"><b>Bank</b></span>
                    <span *ngIf="item.mode === 2" style="padding: 20px;"><b>Cash</b></span>
                    <span *ngIf="item.mode === 3" style="padding: 20px;"><b>Internal User</b></span>
                    <span *ngIf="item.mode === 4" style="padding: 20px;"><b>GST</b></span>
                </ng-template>
         </ng-select>

              </span>
              <span *ngIf="user_type !== 'super_admin'" class="select-container">
                <select formControlName="to_bank" class="form-control custom-select">
                    <option *ngFor= "let view of all_account" value="{{view.bank_id}}" >{{view.account_name}}</option>
                </select>
              </span>
            </div>
            <div class="form-group">
              <div>
                <label for="input-12">Amount</label>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">₹</span>
                </div>
                <input formControlName="amount" type="number" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="input-12">Transaction  Date</label>
              <input type="date" formControlName="tran_date" class="form-control" id="input-12">
            </div>
            <div class="form-group">
              <label for="input-1">Reference</label>
              <input type="text" formControlName="reference" class="form-control" id="input-1" placeholder="Enter Reference">
              <span class="help-block text-danger" *ngIf="addTrans.get('reference')?.touched && addTrans.get('reference')?.hasError('required')">Reference Required !</span>
              <span class="help-block text-danger" *ngIf="addTrans.get('reference')?.touched && addTrans.get('reference')?.hasError('minlength')">Minimum 3 Letters</span>
            </div>
            <div class="form-group">
              <label for="input-1">Description</label>
              <input type="text" formControlName="description" class="form-control" id="input-1" placeholder="Enter Description">
              <span class="help-block text-danger" *ngIf="addTrans.get('description')?.touched && addTrans.get('description')?.hasError('required')">Description Required !</span>
              <span class="help-block text-danger" *ngIf="addTrans.get('description')?.touched && addTrans.get('description')?.hasError('minlength')">Minimum 3 Letters</span>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-info btn-block" type="submit">Submit <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> </button>
          </div>
        </form>
        </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-12 bottom-30">
    <div widget class="card">
        <div class="card-header">
            <span><h5>BANK BALANCE</h5></span>
            <!-- <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div> -->
        </div>
        <div class="card-body widget-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="row">Bank ID</th>
                        <th scope="row">Bank</th>
                        <th scope="row">Balance</th>
                    </tr>
                </thead>
                <tbody *ngIf="this.user_type === 'super_admin'">
                  <tr  *ngFor= "let data of company_account">
                      <td >{{data.bank_id}}</td>
                      <td>{{data.account_name}}</td>
                      <td>{{data.balance | indianCurrency: [] }}</td>
                  </tr>

                  <tr *ngFor= "let data of cash_account">
                    <td >{{data.bank_id}}</td>
                    <td>{{data.account_name}}</td>
                    <td>{{data.balance  | indianCurrency: []}}</td>
                  </tr>
                  <tr *ngFor= "let data of all_account">
                    <td >{{data.bank_id}}</td>
                    <td>{{data.account_name}}</td>
                    <td>{{data.balance | indianCurrency: []}}</td>
                  </tr>
                  <tr *ngFor= "let data of gst_account">
                    <td >{{data.bank_id}}</td>
                    <td>{{data.account_name}}</td>
                    <td>{{data.balance | indianCurrency: []}}</td>
                  </tr>
                </tbody>
                <tbody *ngIf="this.user_type !== 'super_admin'">
                  <tr *ngFor= "let data of user_account">
                    <td >{{data.bank_id}}</td>
                    <td>{{data.account_name}}</td>
                    <td>{{data.balance | indianCurrency: []}}</td>
                  </tr>
                </tbody>
            </table>

        </div>
    </div>
  </div>
</div>
