.salary_table tr {
  margin-bottom: 30px; /* Adjust the space between rows by changing the value */
}

.salary_table td {
  padding-bottom: 30px; /* Adjust the space between rows by changing the value */
}

.salary_table {
  border-collapse: separate;
  border-spacing: 0 10px; /* Adjust the vertical space between cells by changing the second value */
}

.salary_table th,
.salary_table td {
  padding: 10px; /* Adjust the padding inside cells as needed */
}

.employee-details-table {

  border-collapse: collapse; /* Ensure borders are collapsed for a cleaner look */
}

.employee-details-table th,
.employee-details-table td {
  border: 1px solid #ddd; /* Set border for table cells */
  padding: 8px; /* Add some padding for better readability */
}


/* Adjusting the dropdown panel */
::ng-deep .ng-dropdown-panel {
  background-color: #fffdfd;
  position: absolute;
  top: calc(100% + 5px); /* Ensure proper positioning relative to the input field */
  left: 0;
  right: 0;
  font-size: 15px;
  text-align: left;
  border: 1px solid #969696;
}

/* Styling the options */
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: rgb(30, 89, 201) !important;
  color: #f7f5f5 !important;
}

::ng-deep .ng-dropdown-panel .ng-option.ng-option-selected {
  background-color: rgb(30, 89, 201) !important;
  color: #f7f5f5 !important;
}

/* Styling the option labels */
::ng-deep .ng-dropdown-panel .ng-option .ng-option-label {
  padding: 10px;
}

::ng-deep .ng-value-container .ng-value {
  font-size: 15px; /* Adjust the font size as needed */
}

::ng-deep .ng-select {
  height: 38px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
}
::ng-deep .ng-select-container {
  text-align: left;
}


.table-responsive {
  // display: block;
   width: 100%;
   //overflow-x: scroll;
   scroll-behavior: smooth;
   margin-bottom: 12px;
  // scrollbar-width: thin;
   scrollbar-color: rgb(129, 128, 128) rgb(231, 230, 230);
   // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_scrollbars_styling - Link
 }
