<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->



<div  class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">HR</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="routes.dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Attendance</li>
      </ul>
    </div>
  </div>
</div>


<div class="row bottom-30">
  <div class="col-md-12">
    <div widget class="card">
        <div class="card-header">
            <span>Attendance Entry</span>
        </div>
        <div class="card-body widget-body">
          <form [formGroup]="form_date" (ngSubmit)="onSubmit_date(form_date.value)" class="row">
            <div class="col-md-3">
              <input [formControl]="date_val" type="date" class="form-control" id="input-12">
              <span class="help-block text-danger" *ngIf="form_date.get('date_val')?.touched && form_date.get('date_val')?.hasError('required')">select date Required !</span>
            </div>
            <div class="col-md-2">
              <button [disabled]="loading" class="btn btn-info btn-block" type="submit">Load <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="att_window === 1">
  <div class="col-md-12">
    <div class="card-body widget-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="content-page-header">

                <h6>Employee List</h6>

              <div class="list-btn ">
                <ul class="filter-list">
                  <li >
                    <a class="btn btn-rounded btn-outline-primary right" href="javascript:void(0);" (click)="add_com_off()"><i class="fas fa-plus-circle me-1"></i>Add Com OFF</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="btn btn-rounded btn-outline-primary right"  (click)="add_paid_leave()"><i class="fa fa-plus-circle me-2"></i> Add Paid Leave</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card-body">
              <div class="table_header">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length">
                      <label>
                        Show
                        <select #size (change)="PageSize(size.value)" class="form-control form-control-sm" >
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                        Entries
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_filter">
                      <label>
                        Search:
                        <input [(ngModel)]="searchDataValue"  (ngModelChange)="searchData(searchDataValue)"  class="form-control form-control-sm" (click)="moveToPage(1)" />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <div class="table-scroll">
                    <table matSort (matSortChange)="sortData($event)"
                    class="table table-hover mb-0">
                      <thead class="thead-light">
                        <tr>

                          <th mat-sort-header="id">#</th>
                          <th mat-sort-header="emp_id">Employee ID</th>
                          <th mat-sort-header="name">Employee Name </th>
                          <th mat-sort-header="att_hr">Attendance</th>
                          <th mat-sort-header="att_ot">OverTime</th>
                          <th mat-sort-header="att_cl">Com Off Leave</th>
                          <th mat-sort-header="att_sl">Sick Leave</th>
                          <th mat-sort-header="att_pl" class="text-end">Personal Leave</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let employee of List; let i = index" (click)="onRowClick(employee)" >
                          <td>
                            <span *ngIf="employee.status ===1" style="color: red;">{{employee.id}}</span>
                            <span *ngIf="employee.status ===0"  >{{employee.id}}</span>     </td>
                          <td>
                            <span *ngIf="employee.status ===1" style="color: red;">{{employee.emp_id}}</span>
                            <span *ngIf="employee.status ===0" >{{employee.emp_id}}</span>
                          </td>
                          <td>
                            <span *ngIf="employee.status ===1" style="color: red;"> {{employee.name }}</span>
                            <span *ngIf="employee.status ===0" > {{employee.name }}</span>
                          </td>

                          <td>
                            <span *ngIf="employee.status ===1" style="color: red;">  {{employee.att_hr}} </span>
                            <span *ngIf="employee.status ===0" > {{employee.att_hr}} </span>
                          </td>
                          <td>
                            <span *ngIf="employee.status ===1" style="color: red;"> {{employee.att_ot}} </span>
                            <span *ngIf="employee.status ===0" >{{employee.att_ot}} </span>
                           </td>
                          <td>
                            <span *ngIf="employee.status ===1" style="color: red;"> {{employee.att_cl }} </span>
                            <span *ngIf="employee.status ===0" > {{employee.att_cl }} </span>
                          </td>
                          <td>
                            <span *ngIf="employee.status ===1" style="color: red;">{{employee.att_sl}}</span>
                            <span *ngIf="employee.status ===0" >{{employee.att_sl}}</span>
                           </td>
                          <td>
                            <span *ngIf="employee.status ===1" style="color: red;">{{employee.att_pl}}</span>
                            <span *ngIf="employee.status ===0" >{{employee.att_pl}}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <!-- table footer -->
                  <div class="table_footer">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">
                        Showing {{ serialNumberArray[0] }} to
                        {{ serialNumberArray[serialNumberArray.length - 1] }} of
                        {{ totalData }} entries
                      </div>
                    </div>
                  <div class="col-sm-12 col-md-3">
                      <div class="pagination_section">
                        <ul class="pagination">
                          <li   class="page-item"  [ngClass]="{ disabled: currentPage === 1}"  >
                            <a (click)="getMoreData('previous')"  class="page-link" href="javascript:void(0);" tabindex="-1">Previous</a>
                          </li>

                          <ng-container *ngFor="let item of pageNumberArray; let i = index">
                            <li class="page-item" [class.active]="item === currentPage" [ngClass]="  (pageNumberArray[currentPage - 2] > item &&  item !== 1 && pageNumberArray.length > 6) ||
                                (pageNumberArray[currentPage] < item && item !== 1 && pageNumberArray.length > 6 && pageNumberArray.length !== item)  ? 'hide-sub-menu' : 'show-sub-menu'" >
                              <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                {{ item }}
                                <span *ngIf="item === currentPage" class="sr-only" >(current)</span>
                              </a>
                            </li>
                            <li class="page-item" *ngIf=" i === 0 && pageNumberArray.length > 6 && currentPage > 2 " [hidden]="currentPage === 1">
                              <a class="page-link"  (click)="moveToPage(currentPage - 2)" href="javascript:void(0);"> ... </a>
                            </li>
                            <li  *ngIf="    i === pageNumberArray.length - 2 &&  pageNumberArray.length > 6 " [hidden]=" currentPage >= pageNumberArray[pageNumberArray.length - 2] || totalData < serialNumberArray[serialNumberArray.length - 1] "
                              class="page-item" >
                              <a class="page-link"  (click)="moveToPage(currentPage + 2)" href="javascript:void(0);"> ... </a>
                            </li>
                          </ng-container>

                          <li class="page-item"   [ngClass]="{ disabled: currentPage === pageNumberArray[pageNumberArray.length - 1] ||   List.length === 0   }" >
                            <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);" >Next
                            </a>
                          </li>
                        </ul>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="add_att" #add_att class="modal custom-modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Attendance</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form_att" (ngSubmit)="onSubmit(form_att.value)" class="row">

              <div class="form-group col-md-4">
                Hours
              </div>
              <div class="form-group col-md-8">
                <input [formControl]="att_val_hr" type="number" class="form-control" placeholder="Hours">

                <span class="help-block text-danger" *ngIf="form_att.get('att_val_hr')?.touched && form_att.get('att_val_hr')?.hasError('required')">Entry Required !</span>
              </div>

              <div class="form-group col-md-4">
                Over Time
              </div>
              <div class="form-group col-md-8">
                <input [formControl]="att_val_ot" type="number" class="form-control" placeholder="Over Time">
              </div>

              <div class="form-group col-md-4">
                Personal Leave
              </div>
              <div class="form-group col-md-8">
                <input [formControl]="att_val_pl" type="number" class="form-control" placeholder="Personal Leave">
              </div>

              <div class="form-group col-md-4">
                Sick Leave
              </div>
              <div class="form-group col-md-8">
                <input [formControl]="att_val_sl" type="number" class="form-control" placeholder="Sick Leave">
              </div>

              <div class="form-group col-md-4">
                Com Off Leave
              </div>
              <div class="form-group col-md-8">
                <input [formControl]="att_val_cl" type="number" class="form-control" placeholder="Casual Leave">
              </div>

              <div class="form-group align-center">
                <button [disabled]="loading" type="submit" class="btn btn-info pull-right">Add <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>


<div id="edit_att" #edit_att class="modal custom-modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Update Attendance</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form_att_edit" (ngSubmit)="onUpdate(form_att_edit.value)" class="row">

              <div class="form-group col-md-4">
                Hours
              </div>
              <div class="form-group col-md-8">
                <input [formControl]="att_edit_val_hr" value={{edit_att_value_hr}} type="number" class="form-control" placeholder="Hours">
              </div>

              <div class="form-group col-md-4">
                Over Time
              </div>
              <div class="form-group col-md-8">
                <input [formControl]="att_edit_val_ot" value={{edit_att_value_ot}} type="number" class="form-control" placeholder="Over Time">
              </div>

              <div class="form-group col-md-4">
                Personal Leave
              </div>
              <div class="form-group col-md-8">
                <input [formControl]="att_edit_val_pl" value={{edit_att_value_pl}} type="number" class="form-control" placeholder="Personal Leave">
              </div>

              <div class="form-group col-md-4">
                Sick Leave
              </div>
              <div class="form-group col-md-8">
                <input [formControl]="att_edit_val_sl" value={{edit_att_value_sl}} type="number" class="form-control" placeholder="Sick Leave">
              </div>

              <div class="form-group col-md-4">
                Com Off Leave
              </div>
              <div class="form-group col-md-8">
                <input [formControl]="att_edit_val_cl" value={{edit_att_value_cl}} type="number" class="form-control" placeholder="Casual Leave">
              </div>

              <div class="form-group col-md-12 align-center">
                <button [disabled]="loading" type="submit" class="btn btn-info pull-right">Update <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>



<div id="addcom_off" #addcom_off class="modal custom-modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Add Com Off</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-4">
                Number Of Days
              </div>
              <div class="form-group col-md-8">
                <input ty="number" class="form-control" placeholder="Total Days"  [(ngModel)]="days">
              </div>

              <div class="form-group col-md-4">
                Select Employee List
              </div>

              <div class="form-group col-md-8" >
                <div (mouseleave)="showDropDown = false">
                    <button class="drop-toggle btn flat" style="width: 100%; background-color: rgb(241, 240, 240);" (click)="showDropDown=!showDropDown">
                        <span *ngIf="checkedList.length<=0">Select</span>
                        <span *ngIf="checkedList.length>0">{{checkedList.join(', ')}}</span>
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <div class="drop-show" style="background-color:rgb(241, 240, 240) ;" *ngIf="showDropDown">
                      <div class="checkbox-row" *ngFor="let a of employee_list trackBy: trackByFn">
                        <label>
                          <input type="checkbox" [(ngModel)]="a.checked" (change)="getSelectedValue(a.checked, a.emp_id)" />
                          <span>{{a.name}}</span>
                        </label>
                      </div>
                    </div>
                </div>
              </div>

          <div class="align-center">
            <button type="button" value="show" class="btn btn-success " (click)="update()">Add</button>
          </div>
         </div>
          </div>
      </div>
  </div>
</div>


<div id="add_pl" #add_pl class="modal custom-modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Add Paid Leave</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-4">
                Number Of Days
              </div>
              <div class="form-group col-md-8">
                <input ty="number" class="form-control" placeholder="Total Days"  [(ngModel)]="days">
              </div>

              <div class="form-group col-md-4">
                Select Employee List
              </div>
              <div class="form-group col-md-8" >
                <div (mouseleave)="showDropDown = false">
                    <button class="drop-toggle btn flat" style="width: 100%; background-color: rgb(241, 240, 240);" (click)="showDropDown=!showDropDown">
                        <span *ngIf="checkedList.length<=0">Select</span>
                        <span *ngIf="checkedList.length>0">{{checkedList.join(', ')}}</span>
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <div class="drop-show" style="background-color:rgb(241, 240, 240) ;" *ngIf="showDropDown">
                      <div class="checkbox-row" *ngFor="let a of employee_list trackBy: trackByFn">
                        <label>
                            <input type="checkbox" [(ngModel)]="a.checked" (change)="getSelectedValue(a.checked,a.emp_id)" />
                            <span>{{a.name}}</span>
                        </label>
                       </div>
                    </div>
                </div>
              </div>
            <div class="align-center">
              <button type="button" value="show" class="btn btn-success " (click)="update_pl()">Add</button>
            </div>
          </div>
          </div>
      </div>
  </div>
</div>
